services:
  app:
    build: . # Compiles from local source code
    # image: mxverse/r2vault:latest # [FUTURE] Pull pre-built image from registry
    container_name: r2vault-app
    ports:
      - "8080:8080"
    environment:
      - DB_URL=${DB_URL}
    env_file:
      - .env
    volumes:
      - ./app_logs:/app/app_logs

  db:
    image: postgres:15
    profiles: [ "postgres" ] # Only starts if specifically requested
    container_name: r2vault-db
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=r2vault
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  ngrok:
    image: ngrok/ngrok:latest
    profiles: [ "ngrok" ] # Only starts if specifically requested
    container_name: r2vault-ngrok
    restart: unless-stopped
    command: http app:8080 # Tunnels to the 'app' service on port 8080
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    ports:
      - "4040:4040"
    depends_on:
      - app

volumes:
  postgres_data:
